@import 'tailwindcss';
@plugin '@tailwindcss/typography';

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', sans-serif;
    @apply dark:bg-neutral-800 dark:text-white;
}

.gray-text {
    @apply text-gray-500 dark:text-gray-300;
}

a {
    @apply text-blue-600 dark:text-blue-400 underline;
}

a:visited {
    @apply text-purple-600 dark:text-purple-400;
}

a:hover {
    @apply text-blue-800 dark:text-blue-300;
}

a:active {
    @apply text-red-800 dark:text-red-400;
}

code:not(pre code) {
    @apply select-all;
}
