a {
  color: blue;
  text-decoration: underline;
}

a:visited {
  color: purple;
}

a:hover {
  color: darkblue;
}

a:active {
  color: darkred;
}

ul {
  list-style-type: disc;
  margin-left: 1rem;
}


