ul.posts {
    list-style: none;
    padding-left: 0;

    @media only screen and (min-width: 650px) {
        margin-top: 4rem;
    }

    li {
        padding: 10px 7px;
        margin: 0;

        display: flex;
        justify-content: space-between;
        transition-duration: 0.2s;
        border-radius: 4px;

        &:hover {
            cursor: pointer;
            background: var(--nav-link-hover-background-color);
        }
    }
}

@media only screen and (max-width: 650px) {
    .date {
        display: none;
    }
}
